{% extends 'core/base/base.html' %} {% load static %} {% block base_body %}

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Sobre EL Proyecto</h1>
    <p class="col-md-8 fs-4">
      Este es el proyecto final de español de Rafael Almeida y Edward Mendel, de
      la clase de la Sra. Vergara, A-7/8 2021-2022 en Union County Vocational
      Technical Schools
    </p>
  </div>
</div>

<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>Estrategia</h2>
      <p>
        Rafael fue el responsable de crear todo el sitio web y parte de la
        traducción, y Edward de la investigación.
      </p>
    </div>
  </div>

  <div class="col-md-6">
    <div class="h-100 p-5 text-white bg-dark border rounded-3">
      <h2>Tecnología</h2>
      <p>
        Este proyecto fue creado principalmente con Django, un framework de
        python, bootstrap, jquery y ajax. Este fue el primer proyecto que Rafael
        hizo usando Django y ajax para crear páginas responsivas que pueden
        actualizar la información mostrada sin refrescar la página.
      </p>
    </div>
  </div>
</div>

{% endblock base_body %}
