{% extends 'core/base/base.html' %}

{% load my_filters %}
{% load my_tags %}
{% load static %}

{% block base_body %}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>

<div class="row">
    <div class="col-lg-3 col-12">
        <div class="p-4 bg-dark rounded-3 mb-4">
            <div class="card" style="">
                <img src="{{user_detail.profile_pic.url}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{user_detail.first_name}} {{user_detail.last_name}}</h5>
                    <p class="card-text">{{user_detail.biography}}</p>
                    {% if user.pk == user_detail.pk %}
                        <a href="{% url 'core:user_update' pk=user_detail.pk%}" class="btn btn-primary m-1 mb-0">Edit</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-12">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                {% any_tab_selected request.GET as tab_selected %}
                <button class="nav-link {{tab_selected}}" id="pills-visited-tab" data-bs-toggle="pill" data-bs-target="#pills-visited" type="button" role="tab" aria-controls="pills-visited">Visited</button>
            </li>
            
            <li class="nav-item" role="presentation">
                {% is_tab_selected "my_plans" request.GET as my_is_selected %}
                <button class="nav-link {{my_is_selected}}" id="pills-my-plans-tab" data-bs-toggle="pill" data-bs-target="#pills-my-plans" type="button" role="tab" aria-controls="pills-my-plans">
                    {% if user.pk == user_detail.pk %}My Plans{% else %}{{user_detail.first_name|make_possessive}} plans{% endif %}
                </button>
            </li>
            
            <li class="nav-item" role="presentation">
                {% is_tab_selected "favorited_plans" request.GET as favorited_is_selected %}
                <button class="nav-link {{favorited_is_selected}}" id="pills-favorited-plans-tab" data-bs-toggle="pill" data-bs-target="#pills-favorited-plans" type="button" role="tab" aria-controls="pills-favorited-plans">Favorited Plans</button>
            </li>
        </ul>
            
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade {{tab_selected}}" id="pills-visited" role="tabpanel" aria-labelledby="pills-visited-tab">
                <div class="p-4 bg-light rounded-3">
                    {% if user_detail.reviews.all %}
                    <h1>Places Visited</h1>
                    <div class="row">
                    {% for review in user_detail.reviews.all|dictsortreversed:'posted_on' %}
                        <div class="col-xl-6 col-12 pb-2">
                            <div class="card bg-dark text-white">
                                {% if review.thing.get_picture.image.url %}
                                    <img src={{review.thing.get_picture.image.url}} class="card-img img-fluid height-25%">
                                {% else %}
                                    <img src="{% static 'thing_default.jpg' %}" class="card-img img-fluid">
                                {% endif %}
                                
                                <div class="card-img-overlay">
                                    <h5 class="card-title">{{review.thing.name}}</h5>
                                    <p class="card-text">{{review.thing.short_description}}</p>
                                    <a href="{% url 'core:thing_detail' pk=review.thing.pk %}" class='btn btn-outline-light m-1'>Visit</a>                                        
                                </div>
            
                                <ul class="list-group text-black">
                                    <a class="list-group-item" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                          <h5 class="mb-1">Stars</h5>
                                          <small>{{review.thing.stars}} • {{review.thing.reviews.count}}</small>
                                        </div>

                                        <p class="starability-result mb-1" data-rating="{{review.thing.stars|to_int}}">
                                        Rated: {{review.thing.stars|to_int}} stars
                                        </p>
                                    </a>
                                    
                                    <a class="list-group-item" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                          <h5 class="mb-1">{{ user_detail.first_name|make_possessive }} rating</h5>
                                        </div>

                                        <p class="starability-result mb-1" data-rating="{{review.rating|to_int}}">
                                        Rated: {{review.rating|to_int}} stars
                                        </p>
                                    </a>
    
                                    <a class="list-group-item" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                          <h5 class="mb-1">Category</h5>
                                        </div>

                                        <p>{{review.thing.category}}</p>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    {% else %}
                        {% if user.pk == user_detail.pk %}                      
                        <div class="alert alert-warning d-flex align-items-center" role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                            <div>
                                You haven't left a review on anything.
                            </div>
                        </div>
                            
                        <div class="alert alert-primary d-flex align-items-center mb-0" role="alert">
                            <a href="{% url 'core:thing_list' %}">
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                            </a>
                            <div>
                                Click the icon to see things to do!
                            </div>
                        </div>
                        
                        {% else %}
                        <div class="alert alert-warning d-flex align-items-center" role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                            <div>
                                {{user_detail.first_name}} has not left a review on anything
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="tab-pane fade {{my_is_selected}}" id="pills-my-plans" role="tabpanel" aria-labelledby="pills-my-plans-tab">
                <div class="p-4 bg-light rounded-3 mb-4">
                    <a href="{% url 'core:plan_create' %}" class='btn btn-primary mb-4'>Create a Plan</a>
                    {% if user.pk == user_detail.pk %}
                    {% endif %}
                    {% get_visible_plans user_detail.plans.all user.pk user_detail.pk as visible_plans %}
                    {% if visible_plans %}
                        {% for plan in visible_plans %}
                        <a id="plan{{plan.pk}}"></a>
                        <a id="plan_order{{forloop.counter}}"></a>
                            <div class="card text-center mb-1">
                                <div class="card-header">
                                    {% if plan.is_public %}
                                    Public
                                    {% else %}
                                    Private
                                    {% endif %}
                                </div>

                                <div class="card-body">
                                    <h5 class="card-title">{{plan.name}}</h5>
                                    <p class="card-text">{{plan.description}}</p>
                                    {% if user.pk != user_detail.pk %}
                                        {% if user.is_authenticated %}
                                            {% user_favorited user.pk plan.pk as user_favorited %}
                                            {% if user_favorited %}
                                            <a class="btn btn-danger" href="{% url 'core:plan_favorite' plan_pk=plan.pk %}?next={% url 'core:user_detail' pk=user_detail.pk %}?my_plans#plan_order{{forloop.counter}}">Unfavorite</a>
                                    
                                            {% else %}
                                            <a class="btn btn-success" href="{% url 'core:plan_favorite' plan_pk=plan.pk %}?next={% url 'core:user_detail' pk=user_detail.pk %}?my_plans#plan{{plan.pk}}">Favorite</a>
                                            {% endif %}
                                        
                                        {% else %}
                                        <a class="btn btn-success" href="{% url 'core:plan_favorite' plan_pk=plan.pk %}">Favorite</a>
                                        {% endif %}
                                    
                                    {% else %}
                                    <a class="btn btn-primary m-2" href="{% url 'core:plan_update' pk=plan.pk %}">Edit</a>
                                    {% endif %}
                                </div>

                                <div class="card-footer text-muted">
                                    {{plan.favorited_by.all.count}} people favorited this plan
                                </div>
                            </div>

                            {% if plan.things.all %}
                            <div class="accordion mb-4" id="thing_accordion">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="according_heading{{forloop.counter}}}">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{forloop.counter}}" aria-expanded="false" aria-controls="collapse{{forloop.counter}}">
                                            Things
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapse{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="according_heading{{forloop.counter}}}" data-bs-parent="#thing_accordion">
                                    <div class="row mt-2">
                                        {% for thing in plan.things.all %}
                                        <div class="col-xl-6 col-12 pb-2">
                                            <div class="card bg-dark text-white">
                                                {% if thing.get_picture.image.url %}
                                                    <img src={{thing.get_picture.image.url}} class="card-img img-fluid height-25%">
                                                {% else %}
                                                    <img src="{% static 'thing_default.jpg' %}" class="card-img img-fluid">
                                                {% endif %}
                                                
                                                <div class="card-img-overlay">
                                                    <h5 class="card-title">{{thing.name}}</h5>
                                                    <p class="card-text">{{thing.short_description}}</p>
                                                    <a href="{% url 'core:thing_detail' pk=thing.pk %}" class='btn btn-outline-light m-1'>Visit</a>
                                                    {% if user.pk == user_detail.pk %}
                                                    <a href="{% url 'core:plan_remove' plan_pk=plan.pk thing_pk=thing.pk %}?next={% url 'core:user_detail' pk=user_detail.pk %}?my_plans#plan{{forloop.counter}}" class="btn btn-outline-danger">
                                                        Remove
                                                    </a>
                                                    {% endif %}
                                                </div>
                            
                                                <ul class="list-group text-black">
                                                    {% if thing.stars %}
                                                    <a class="list-group-item" aria-current="true">
                                                        <div class="d-flex w-100 justify-content-between">
                                                            <h5 class="mb-1">Stars</h5>
                                                            <small>{{thing.stars}} • {{thing.reviews.count}}</small>
                                                        </div>
        
                                                        <p class="starability-result mb-1" data-rating="{{thing.stars|to_int}}">
                                                        Rated: {{thing.stars|to_int}} stars
                                                        </p>
                                                    </a>
                                                    {% endif %}
                                                    
                                                    <a class="list-group-item" aria-current="true">
                                                        <div class="d-flex w-100 justify-content-between">
                                                            <h5 class="mb-1">Category</h5>
                                                        </div>
        
                                                        <p>{{thing.category}}</p>
                                                    </a>
                                                </ul>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                                
                            {% else %}
                            <div class="mt-2 alert alert-warning d-flex align-items-center" role="alert">
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                <div>
                                    Visit a thing and click the "Add Plan" button.
                                </div>
                            </div>
                            {% endif %}

                        <div class="container">
                            <hr style="height: 3px;">
                        </div>
                        {% endfor %}
            
                    {% else %}
                        {% if user.pk == user_detail.pk %}
                        <div class="alert alert-warning d-flex align-items-center" role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                            <div>
                                You have no plans.
                            </div>
                        </div>

                        <div class="alert alert-primary d-flex align-items-center" role="alert">
                            <a href="{% url 'core:thing_list' %}">
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                            </a>
                            <div>
                                Create a plan then click on the icon to add things to it!
                            </div>
                        </div>

                        {% else %}
                        <div class="alert alert-warning d-flex align-items-center" role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                            <div>
                                {{user_detail.first_name}} has no plans
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="tab-pane fade {{favorited_is_selected}}" id="pills-favorited-plans" role="tabpanel" aria-labelledby="pills-favorited-plans-tab">
                <div class="p-4 bg-light rounded-3 mb-4">
                {% if user_detail.favorited.all %}
                    {% for plan in user_detail.favorited.all %}
                    <a id="favorited_plan{{forloop.counter}}"></a>
                        <div class="card text-center mb-4">
                            <div class="card-header">
                                By {{plan.owner.first_name}} {{plan.owner.last_name}}
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">{{plan.name}}</h5>
                                <p class="card-text">{{plan.description}}</p>
                                {% if user.pk == user_detail.pk %}
                                    <a class="btn btn-danger" href="{% url 'core:plan_favorite' plan_pk=plan.pk %}?next={% url 'core:user_detail' pk=user_detail.pk %}?favorited_plans#favorited_plan{{forloop.counter|add:"-1"}}">
                                        Unfavorite
                                    </a>
                                {% endif %}
                                <a class="btn btn-primary" href="{% url 'core:user_detail' pk=plan.owner.pk %}?my_plans#plan{{plan.pk}}">Visit</a>
                            </div>

                            <div class="card-footer text-muted">
                                {{plan.favorited_by.all.count}} people favorited this plan
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    {% if user.pk == user_detail.pk %}
                    <div class="alert alert-warning d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <div>
                            You haven't favorited any plans.
                        </div>
                    </div>

                    <div class="alert alert-primary d-flex align-items-center mb-0" role="alert">
                        <a href="{% url 'core:thing_list' %}">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                        </a>
                        <div>
                            Click the icon to see things to do and explore others' plans!
                        </div>
                    </div>

                    {% else %}
                    <div class="alert alert-warning d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <div>
                            {{user_detail.first_name}} hasn't favorited any plans
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock base_body %}